/* Maharlika - latin */
@font-face {
    font-family: 'Maharlika', serif;
    font-style: normal;
    font-weight: 300;
    src: local('Cinzel'),
        url('../fonts/Maharlika.ttf') format('ttf');
}
/* raleway-100 - latin */
@font-face {
    font-family: 'Raleway-Thin', sans-serif;
    font-style: normal;
    font-weight: 100;
    src: local('Raleway-Thin'),
         url('../fonts/raleway-v22-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v22-latin-100.woff') format('woff'), /* Modern Browsers */
}
/* raleway-200 - latin */
@font-face {
    font-family: 'Raleway-ExtraLight', sans-serif;
    font-style: normal;
    font-weight: 200;
    src: local('Raleway-ExtraLight'),
         url('../fonts/raleway-v22-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v22-latin-200.woff') format('woff'), /* Modern Browsers */
}
/* raleway-300 - latin */
@font-face {
    font-family: 'Raleway-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    src: local('Raleway-Light'),
         url('../fonts/raleway-v22-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v22-latin-300.woff') format('woff'), /* Modern Browsers */
}
/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('Raleway-Regular'),
         url('../fonts/raleway-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
}
/* raleway-500 - latin */
@font-face {
    font-family: 'Raleway-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    src: local('Raleway-Medium'),
         url('../fonts/raleway-v22-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v22-latin-500.woff') format('woff'), /* Modern Browsers */
}
/* raleway-100italic - latin */
@font-face {
    font-family: 'Raleway-ThinItalic', sans-serif;
    font-style: italic;
    font-weight: 100;
    src: local('Raleway-ThinItalic'),
         url('../fonts/raleway-v22-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v22-latin-100italic.woff') format('woff'), /* Modern Browsers */
}
/* raleway-200italic - latin */
@font-face {
    font-family: 'Raleway-ExtraLightItalic', sans-serif;
    font-style: italic;
    font-weight: 200;
    src: local('Raleway-ExtraLightItalic'),
         url('../fonts/raleway-v22-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v22-latin-200italic.woff') format('woff'), /* Modern Browsers */
}