@import url(/Users/willow-daigle/Documents/clphoto/css/fonts.css);
html {
  font-size: 16px;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* firefox font rendering */
@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

/* scroll effects */
section.scrolled #about-text {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 2500ms;
  transition: -webkit-transform 2500ms;
  transition: transform 2500ms;
  transition: transform 2500ms, -webkit-transform 2500ms;
}

section.scrolled h2 {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 2500ms;
  transition: -webkit-transform 2500ms;
  transition: transform 2500ms;
  transition: transform 2500ms, -webkit-transform 2500ms;
}

section.scrolled h3 {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 2500ms;
  transition: -webkit-transform 2500ms;
  transition: transform 2500ms;
  transition: transform 2500ms, -webkit-transform 2500ms;
}

section.scrolled #contact-text {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 2500ms;
  transition: -webkit-transform 2500ms;
  transition: transform 2500ms;
  transition: transform 2500ms, -webkit-transform 2500ms;
}

section.scrolled #logo {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 2500ms;
  transition: -webkit-transform 2500ms;
  transition: transform 2500ms;
  transition: transform 2500ms, -webkit-transform 2500ms;
}

/* zoom effects */
@-webkit-keyframes slowZoom {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
}
@keyframes slowZoom {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
  }
}

@-webkit-keyframes zoomOut {
  0% {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes zoomOut {
  0% {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

/* navigation */
#brand {
  display: inline-block;
  position: absolute;
  top: 0;
  right: auto;
  left: 7rem;
  width: 500px;
  margin: 1rem 2rem 0.5rem 0;
  font-family: Cinzel, serif;
  font-weight: normal;
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  background-color: transparent !important;
  z-index: 10;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

#brand:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 500px) {
  #brand {
    left: 4.5rem;
    font-size: 1.4rem;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  #brand {
    text-align: center;
  }
}

.menu-wrap {
  background-color: transparent !important;
  position: fixed;
  top: 0;
  height: 100%;
  width: auto;
  margin-left: -280px;
  font-family: 'Raleway-ExtraLight', sans-serif;
  font-weight: 200;
  font-size: 1em;
  -webkit-transition: .25s;
  transition: .25s;
  z-index: 10;
}

.menu-show {
  margin-left: 0;
}

.menu-sidebar {
  margin: 0;
  position: relative;
  top: 70px;
}

.menu-sidebar li {
  padding-top: 10px;
  list-style-type: none;
}

.menu-sidebar li > a {
  color: #f3f3f3;
  font-size: 1rem;
  position: relative;
  text-decoration: none;
}

.menu-sidebar li > a::after {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 0.15em;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50.3%, transparent), color-stop(50.3%, white));
  background-image: linear-gradient(to right, transparent 50.3%, white 50.3%);
  -webkit-transition: background-position .2s .1s ease-out;
  transition: background-position .2s .1s ease-out;
  background-size: 200% auto;
}

.menu-sidebar li > a:hover::after {
  background-position: -100% 0;
}

/* Hamburger Button */
.toggle-button {
  position: fixed;
  width: 44px;
  height: 40px;
  top: 25px;
  left: 20px;
  padding: 4px;
  -webkit-transition: .25s;
  transition: .25s;
  z-index: 15;
}

.toggle-button:hover {
  cursor: pointer;
}

.toggle-button .menu-bar {
  position: absolute;
  border-radius: 2px;
  width: 80%;
  -webkit-transition: .5s;
  transition: .5s;
}

.toggle-button .menu-bar-top {
  border: 4px solid white;
  border-bottom: none;
  top: 0;
}

.toggle-button .menu-bar-middle {
  height: 4px;
  background-color: white;
  margin-top: 7px;
  margin-bottom: 7px;
  top: 4px;
}

.toggle-button .menu-bar-bottom {
  border: 4px solid white;
  border-top: none;
  top: 22px;
}

.button-open {
  left: 25px;
}

.button-open .menu-bar-top {
  border-color: #fff;
  -webkit-transform: rotate(45deg) translate(8px, 8px);
          transform: rotate(45deg) translate(8px, 8px);
  -webkit-transition: .5s;
  transition: .5s;
}

.button-open .menu-bar-middle {
  background-color: #fff;
  -webkit-transform: translate(230px);
          transform: translate(230px);
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
  opacity: 0;
}

.button-open .menu-bar-bottom {
  border-color: #fff;
  -webkit-transform: rotate(-45deg) translate(7px, -7px);
          transform: rotate(-45deg) translate(7px, -7px);
  -webkit-transition: .5s;
  transition: .5s;
}

/* main section */
h1 {
  font-family: 'Raleway-Thin', sans-serif;
  font-weight: 100;
  text-align: center;
  color: white;
  font-size: 2.5rem;
}

@media (max-width: 500px) {
  h1 {
    margin-top: 6rem;
    font-size: 2rem;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  h1 {
    margin: 2rem 0 3rem 0;
  }
}

#hero {
  height: 100vh;
  width: 100vw;
  margin: 10rem 1rem 2rem;
}

@media (max-width: 768px) {
  #hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    text-align: center;
    margin: 0 0 1rem 0;
  }
}

#main-img-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  width: 50vw;
  height: 85vh;
  padding: 0;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: thin solid white;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media (max-width: 500px) {
  #main-img-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: 75%;
    margin-top: 1rem;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  #main-img-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 60vw;
  }
}

#main-img {
  background-image: url("../images/first-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
  -webkit-animation: slowZoom 4s linear forwards;
          animation: slowZoom 4s linear forwards;
}

/* about section */
#about {
  width: 100vw;
  height: 100%;
}

@media (max-width: 768px) {
  #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#profile-img-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  min-width: 50vw;
  max-width: 70vw;
  min-height: 80vh;
  max-height: 90vh;
  margin-left: 5rem;
  margin-right: 0;
  padding: 0;
}

@media (max-width: 500px) {
  #profile-img-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    min-height: 50vh;
    max-height: 70vh;
    min-width: 50vw;
    margin: 2rem 0 0 0;
  }
}

@media (min-width: 581px) and (max-width: 768px) {
  #profile-img-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    min-height: 80vh;
    margin: 4rem 0 0.5rem 0;
  }
}

@media (min-width: 992px) {
  #profile-img-container {
    min-height: 90vh;
  }
}

#profile-img {
  background-image: url("../images/profile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 70%;
  max-width: 100%;
  border-radius: 50%;
  border: thin solid white;
}

@media (max-width: 500px) {
  #profile-img {
    max-height: 80%;
  }
}

@media (min-width: 581px) and (max-width: 768px) {
  #profile-img {
    max-height: 100%;
  }
}

#myStory {
  font-size: 1.5rem;
  font-family: 'Raleway-Light', sans-serif;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 500px) {
  #myStory {
    margin-top: 10rem;
  }
}

@media (min-width: 581px) and (max-width: 768px) {
  #myStory {
    margin-top: 6rem;
  }
}

#about-text {
  color: white;
  font-family: 'Raleway-Light', sans-serif;
  font-weight: 300;
  font-size: .8rem;
  text-align: center;
  min-width: 50vw;
  margin-left: -2rem;
  margin-right: 5rem;
}

@media (max-width: 768px) {
  #about-text {
    max-height: 40%;
    margin: -2rem 0 0 0;
  }
}

/* carousel */
.item {
  height: 60vh;
  width: 100%;
  padding: 0.5rem;
}

.item:hover {
  cursor: pointer;
}

h2 {
  font-family: 'Raleway-ExtraLight', sans-serif;
  font-weight: 200;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 0.8rem;
}

@media (max-width: 480px) {
  h2 {
    margin-top: 12rem;
    margin-bottom: 2rem;
  }
}

/* packages section */
#packages {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

h3 {
  font-family: 'Raleway-ExtraLight', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 2rem;
  width: 100vw;
  text-align: center;
  position: absolute;
}

h5 {
  font-size: 1.4rem;
}

.disclaimer {
  font-family: "Raleway-LightItalic", sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
}

.card-text {
  font-size: 1.1rem;
}

.flip-card-back > .card-body {
  margin-top: 1rem;
}

@media (max-width: 480px) {
  .flip-card-back > .card-body {
    margin-top: 0;
  }
}

.card-text-back {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.flip-card {
  display: inline-block;
  background-color: transparent;
  height: 80vh;
  margin-top: 3rem;
  margin-left: 0.5rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@media (max-width: 580px) {
  .flip-card {
    width: 60vw;
    height: 65vh;
  }
}

@media (min-width: 581px) {
  .flip-card {
    width: 35vw;
  }
}

@media (min-width: 665px) {
  .flip-card {
    width: 30vw;
  }
}

@media (min-width: 768px) {
  .flip-card {
    width: 25vw;
  }
}

@media (min-width: 925px) {
  .flip-card {
    width: 20vw;
  }
}

@media (min-width: 1170px) {
  .flip-card {
    width: 15vw;
  }
}

.flip-card-inner {
  background-color: transparent;
  font-family: 'Raleway-ExtraLight', sans-serif;
  font-weight: 200;
  text-align: center;
  width: 100%;
  height: 90%;
  position: relative;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-top: 1.5rem;
  white-space: normal;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* card flipping */
.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 95%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: white;
}

.flip-card-back {
  background-color: transparent;
  color: white;
  background-color: #cf9c5b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* horizontal scrollbar */
.static-four {
  /* Firefox */
  /* Chrome, Edge, and Safari */
}

.static-four * {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}

.static-four *::-webkit-scrollbar {
  width: 5px;
}

.static-four *::-webkit-scrollbar-track {
  background: transparent;
}

.static-four *::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid white;
}

/* contact section */
#contact-text {
  font-family: 'Raleway-ExtraLight', sans-serif;
  font-weight: 200;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 500px) {
  #contact-text {
    margin-top: 3rem;
  }
}

@media (max-width: 768px) {
  #contact-text {
    margin-top: 1rem;
  }
}

h4 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

#email {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.fa-instagram {
  font-size: 2rem;
  color: white;
}

#contact-form {
  width: 50vw;
}

@media (max-width: 768px) {
  #contact-form {
    width: 90vw;
  }
}

.form-control {
  font-family: "Raleway-LightItalic", sans-serif;
  font-weight: 300;
  background-color: #acbfa4;
  color: white;
  border-color: white;
  border-radius: 10px;
}

.form-control:focus {
  border-color: white;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #586652;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #586652;
}

.form-label {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
  color: white;
}

.btn-outline-light {
  border-radius: 10px;
}

.btn-outline-light:hover {
  background-color: white;
  color: #acbfa4;
}

/* footer */
footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100vh;
}

footer p {
  font-family: "Raleway-LightItalic", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 0.75rem;
}

#logo {
  min-height: 70vh;
  margin-bottom: 6rem;
}

/* parallax scrolling */
.main-container {
  height: 100vh;
  -webkit-perspective: 2px;
          perspective: 2px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

/* hero */
.static-one {
  background-color: #ebbe88;
}

@media (max-width: 500px) {
  .static-one {
    height: 825px;
  }
}

@media (max-width: 768px) {
  .static-one {
    height: 725px;
  }
}

/* about */
.static-two {
  background-color: #d99771;
}

@media (max-width: 500px) {
  .static-two {
    height: 1080px;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .static-two {
    height: 950px;
  }
}

@media (min-width: 769px) and (max-width: 900px) {
  .static-two {
    height: 700px;
  }
}

/* gallery */
.static-three {
  background-color: #f5e0a6;
}

@media (max-width: 480px) {
  .static-three {
    height: 60vh;
  }
}

/* packages */
.static-four {
  background-color: #cf9c5b;
}

@media (max-width: 480px) {
  .static-four {
    height: 80vh;
  }
}

/* contact */
.static-five {
  background-color: #acbfa4;
}

@media (max-width: 768px) {
  .static-five {
    height: 750px;
  }
}

/* footer */
.static-six {
  background: #ecad58;
  background: -webkit-gradient(linear, left bottom, left top, from(#ecad58), to(#f5e4c1));
  background: linear-gradient(0deg, #ecad58 0%, #f5e4c1 100%);
}

.parallax::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transform: translateZ(-1px) scale(1.7);
  -webkit-transform: translateZ(-1px) scale(1.7);
  -moz-transform: translateZ(-1px) scale(1.7);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  z-index: -1;
}

.parallax-one::after {
  background-image: url("../images/parallax-1.jpg");
}

.parallax-two::after {
  background-image: url("../images/parallax-2.jpg");
}

.parallax-three::after {
  background-image: url("../images/parallax-3.jpg");
}

.parallax-four::after {
  background-image: url("../images/parallax-4.jpg");
}

.parallax-five::after {
  background-image: url("../images/parallax-5.jpg");
}
/*# sourceMappingURL=style.css.map */